/* Empty. Add your own CSS if you like */

.action-sheet-wrapper {
	width: 90%;
	bottom: 3px;
}

.platform-android .action-sheet {
	border-radius: 6px;
}

.platform-android .action-sheet-group {
	padding-left: 10px;
}