<ion-view view-title="Hide Something!" align-title="center">
  <ion-content class="padding">
   <label class="item item-input item-floating-label">
      <span class="input-label">Hide Some Words</span>
      <input ng-model="treasure.value" type="text" placeholder="First Name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Hide Some Words</span>
      <input ng-model="treasure.value" type="text" placeholder="First Name">
    </label>
    <!-- why is ng-model not working? -->
    <button ng-click="hideTreasure()" ng-disabled="loadingTreasure" class="button button-assertive">{{ button.message }}</button>
  </ion-content>
</ion-view>

